@charset "UTF-8";
/*
 * htmlのフォントサイズ
 * @args ベースの画面幅
 */
/*
 * ルートのフォントサイズを基準にフォントサイズを可変にする（SPはrootPxを設定しておくこと）
 * @args 最大値（デザイン上の数値）
 */
/*
 * スマホの時のfz設定（XDアートボードサイズで引用）
 */
/*
 * get_vwの設定
 */
/*
 * get_vwの設定(スマホ)
 */
/*
 * margin-topがマイナス値の場合、pxを%に変換
 */
/*
 * margin-topがマイナス値の場合、pxを%に変換(スマホ)
 */
/*
 * line-heightの計算
 */
/*
 * breakpointの設定
 */
/*
 * BUY ボタン
 */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: normal;
}

.tal {
  text-align: left !important;
}

.dc {
  display: contents !important;
}

.fl {
  float: left !important;
}

p {
  letter-spacing: 0.09em;
  line-height: 1.6875;
  margin: 0;
}

.container img {
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

br.pc {
  display: block;
}

br.sp {
  display: none;
}

.sec_wrap a {
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.sec_wrap a:hover {
  text-decoration: none;
  opacity: 0.85;
}

.u-mt0 {
  margin-top: 0px !important;
}

.u-mb0 {
  margin-bottom: 0px !important;
}

.u-mr0 {
  margin-right: 0px !important;
}

.u-ml0 {
  margin-left: 0px !important;
}

.u-mt5 {
  margin-top: 5px !important;
}

.u-mb5 {
  margin-bottom: 5px !important;
}

.u-mr5 {
  margin-right: 5px !important;
}

.u-ml5 {
  margin-left: 5px !important;
}

.u-mt10 {
  margin-top: 10px !important;
}

.u-mb10 {
  margin-bottom: 10px !important;
}

.u-mr10 {
  margin-right: 10px !important;
}

.u-ml10 {
  margin-left: 10px !important;
}

.u-mt15 {
  margin-top: 15px !important;
}

.u-mb15 {
  margin-bottom: 15px !important;
}

.u-mr15 {
  margin-right: 15px !important;
}

.u-ml15 {
  margin-left: 15px !important;
}

.u-mt20 {
  margin-top: 20px !important;
}

.u-mb20 {
  margin-bottom: 20px !important;
}

.u-mr20 {
  margin-right: 20px !important;
}

.u-ml20 {
  margin-left: 20px !important;
}

.u-mt25 {
  margin-top: 25px !important;
}

.u-mb25 {
  margin-bottom: 25px !important;
}

.u-mr25 {
  margin-right: 25px !important;
}

.u-ml25 {
  margin-left: 25px !important;
}

.u-mt30 {
  margin-top: 30px !important;
}

.u-mb30 {
  margin-bottom: 30px !important;
}

.u-mr30 {
  margin-right: 30px !important;
}

.u-ml30 {
  margin-left: 30px !important;
}

.u-mt35 {
  margin-top: 35px !important;
}

.u-mb35 {
  margin-bottom: 35px !important;
}

.u-mr35 {
  margin-right: 35px !important;
}

.u-ml35 {
  margin-left: 35px !important;
}

.u-mt40 {
  margin-top: 40px !important;
}

.u-mb40 {
  margin-bottom: 40px !important;
}

.u-mr40 {
  margin-right: 40px !important;
}

.u-ml40 {
  margin-left: 40px !important;
}

.u-mt45 {
  margin-top: 45px !important;
}

.u-mb45 {
  margin-bottom: 45px !important;
}

.u-mr45 {
  margin-right: 45px !important;
}

.u-ml45 {
  margin-left: 45px !important;
}

.u-mt50 {
  margin-top: 50px !important;
}

.u-mb50 {
  margin-bottom: 50px !important;
}

.u-mr50 {
  margin-right: 50px !important;
}

.u-ml50 {
  margin-left: 50px !important;
}

.u-mt55 {
  margin-top: 55px !important;
}

.u-mb55 {
  margin-bottom: 55px !important;
}

.u-mr55 {
  margin-right: 55px !important;
}

.u-ml55 {
  margin-left: 55px !important;
}

.u-mt60 {
  margin-top: 60px !important;
}

.u-mb60 {
  margin-bottom: 60px !important;
}

.u-mr60 {
  margin-right: 60px !important;
}

.u-ml60 {
  margin-left: 60px !important;
}

.u-mt65 {
  margin-top: 65px !important;
}

.u-mb65 {
  margin-bottom: 65px !important;
}

.u-mr65 {
  margin-right: 65px !important;
}

.u-ml65 {
  margin-left: 65px !important;
}

.u-mt70 {
  margin-top: 70px !important;
}

.u-mb70 {
  margin-bottom: 70px !important;
}

.u-mr70 {
  margin-right: 70px !important;
}

.u-ml70 {
  margin-left: 70px !important;
}

.u-mt75 {
  margin-top: 75px !important;
}

.u-mb75 {
  margin-bottom: 75px !important;
}

.u-mr75 {
  margin-right: 75px !important;
}

.u-ml75 {
  margin-left: 75px !important;
}

.u-mt80 {
  margin-top: 80px !important;
}

.u-mb80 {
  margin-bottom: 80px !important;
}

.u-mr80 {
  margin-right: 80px !important;
}

.u-ml80 {
  margin-left: 80px !important;
}

.u-mt85 {
  margin-top: 85px !important;
}

.u-mb85 {
  margin-bottom: 85px !important;
}

.u-mr85 {
  margin-right: 85px !important;
}

.u-ml85 {
  margin-left: 85px !important;
}

.u-mt90 {
  margin-top: 90px !important;
}

.u-mb90 {
  margin-bottom: 90px !important;
}

.u-mr90 {
  margin-right: 90px !important;
}

.u-ml90 {
  margin-left: 90px !important;
}

.u-mt95 {
  margin-top: 95px !important;
}

.u-mb95 {
  margin-bottom: 95px !important;
}

.u-mr95 {
  margin-right: 95px !important;
}

.u-ml95 {
  margin-left: 95px !important;
}

.u-mt100 {
  margin-top: 100px !important;
}

.u-mb100 {
  margin-bottom: 100px !important;
}

.u-mr100 {
  margin-right: 100px !important;
}

.u-ml100 {
  margin-left: 100px !important;
}

.u-mt105 {
  margin-top: 105px !important;
}

.u-mb105 {
  margin-bottom: 105px !important;
}

.u-mr105 {
  margin-right: 105px !important;
}

.u-ml105 {
  margin-left: 105px !important;
}

.u-mt110 {
  margin-top: 110px !important;
}

.u-mb110 {
  margin-bottom: 110px !important;
}

.u-mr110 {
  margin-right: 110px !important;
}

.u-ml110 {
  margin-left: 110px !important;
}

.u-mt115 {
  margin-top: 115px !important;
}

.u-mb115 {
  margin-bottom: 115px !important;
}

.u-mr115 {
  margin-right: 115px !important;
}

.u-ml115 {
  margin-left: 115px !important;
}

.u-mt120 {
  margin-top: 120px !important;
}

.u-mb120 {
  margin-bottom: 120px !important;
}

.u-mr120 {
  margin-right: 120px !important;
}

.u-ml120 {
  margin-left: 120px !important;
}

.u-mt125 {
  margin-top: 125px !important;
}

.u-mb125 {
  margin-bottom: 125px !important;
}

.u-mr125 {
  margin-right: 125px !important;
}

.u-ml125 {
  margin-left: 125px !important;
}

.u-mt130 {
  margin-top: 130px !important;
}

.u-mb130 {
  margin-bottom: 130px !important;
}

.u-mr130 {
  margin-right: 130px !important;
}

.u-ml130 {
  margin-left: 130px !important;
}

.u-mt135 {
  margin-top: 135px !important;
}

.u-mb135 {
  margin-bottom: 135px !important;
}

.u-mr135 {
  margin-right: 135px !important;
}

.u-ml135 {
  margin-left: 135px !important;
}

.u-mt140 {
  margin-top: 140px !important;
}

.u-mb140 {
  margin-bottom: 140px !important;
}

.u-mr140 {
  margin-right: 140px !important;
}

.u-ml140 {
  margin-left: 140px !important;
}

.u-mt145 {
  margin-top: 145px !important;
}

.u-mb145 {
  margin-bottom: 145px !important;
}

.u-mr145 {
  margin-right: 145px !important;
}

.u-ml145 {
  margin-left: 145px !important;
}

.u-mt150 {
  margin-top: 150px !important;
}

.u-mb150 {
  margin-bottom: 150px !important;
}

.u-mr150 {
  margin-right: 150px !important;
}

.u-ml150 {
  margin-left: 150px !important;
}

.u-mt155 {
  margin-top: 155px !important;
}

.u-mb155 {
  margin-bottom: 155px !important;
}

.u-mr155 {
  margin-right: 155px !important;
}

.u-ml155 {
  margin-left: 155px !important;
}

.u-mt160 {
  margin-top: 160px !important;
}

.u-mb160 {
  margin-bottom: 160px !important;
}

.u-mr160 {
  margin-right: 160px !important;
}

.u-ml160 {
  margin-left: 160px !important;
}

.u-mt165 {
  margin-top: 165px !important;
}

.u-mb165 {
  margin-bottom: 165px !important;
}

.u-mr165 {
  margin-right: 165px !important;
}

.u-ml165 {
  margin-left: 165px !important;
}

.u-mt170 {
  margin-top: 170px !important;
}

.u-mb170 {
  margin-bottom: 170px !important;
}

.u-mr170 {
  margin-right: 170px !important;
}

.u-ml170 {
  margin-left: 170px !important;
}

.u-mt175 {
  margin-top: 175px !important;
}

.u-mb175 {
  margin-bottom: 175px !important;
}

.u-mr175 {
  margin-right: 175px !important;
}

.u-ml175 {
  margin-left: 175px !important;
}

.u-mt180 {
  margin-top: 180px !important;
}

.u-mb180 {
  margin-bottom: 180px !important;
}

.u-mr180 {
  margin-right: 180px !important;
}

.u-ml180 {
  margin-left: 180px !important;
}

.u-mt185 {
  margin-top: 185px !important;
}

.u-mb185 {
  margin-bottom: 185px !important;
}

.u-mr185 {
  margin-right: 185px !important;
}

.u-ml185 {
  margin-left: 185px !important;
}

.u-mt190 {
  margin-top: 190px !important;
}

.u-mb190 {
  margin-bottom: 190px !important;
}

.u-mr190 {
  margin-right: 190px !important;
}

.u-ml190 {
  margin-left: 190px !important;
}

.u-mt195 {
  margin-top: 195px !important;
}

.u-mb195 {
  margin-bottom: 195px !important;
}

.u-mr195 {
  margin-right: 195px !important;
}

.u-ml195 {
  margin-left: 195px !important;
}

.u-mt200 {
  margin-top: 200px !important;
}

.u-mb200 {
  margin-bottom: 200px !important;
}

.u-mr200 {
  margin-right: 200px !important;
}

.u-ml200 {
  margin-left: 200px !important;
}

.u-mt205 {
  margin-top: 205px !important;
}

.u-mb205 {
  margin-bottom: 205px !important;
}

.u-mr205 {
  margin-right: 205px !important;
}

.u-ml205 {
  margin-left: 205px !important;
}

.u-mt210 {
  margin-top: 210px !important;
}

.u-mb210 {
  margin-bottom: 210px !important;
}

.u-mr210 {
  margin-right: 210px !important;
}

.u-ml210 {
  margin-left: 210px !important;
}

.u-mt215 {
  margin-top: 215px !important;
}

.u-mb215 {
  margin-bottom: 215px !important;
}

.u-mr215 {
  margin-right: 215px !important;
}

.u-ml215 {
  margin-left: 215px !important;
}

.u-mt220 {
  margin-top: 220px !important;
}

.u-mb220 {
  margin-bottom: 220px !important;
}

.u-mr220 {
  margin-right: 220px !important;
}

.u-ml220 {
  margin-left: 220px !important;
}

.u-mt225 {
  margin-top: 225px !important;
}

.u-mb225 {
  margin-bottom: 225px !important;
}

.u-mr225 {
  margin-right: 225px !important;
}

.u-ml225 {
  margin-left: 225px !important;
}

.u-mt230 {
  margin-top: 230px !important;
}

.u-mb230 {
  margin-bottom: 230px !important;
}

.u-mr230 {
  margin-right: 230px !important;
}

.u-ml230 {
  margin-left: 230px !important;
}

.u-mt235 {
  margin-top: 235px !important;
}

.u-mb235 {
  margin-bottom: 235px !important;
}

.u-mr235 {
  margin-right: 235px !important;
}

.u-ml235 {
  margin-left: 235px !important;
}

.u-mt240 {
  margin-top: 240px !important;
}

.u-mb240 {
  margin-bottom: 240px !important;
}

.u-mr240 {
  margin-right: 240px !important;
}

.u-ml240 {
  margin-left: 240px !important;
}

.u-mt245 {
  margin-top: 245px !important;
}

.u-mb245 {
  margin-bottom: 245px !important;
}

.u-mr245 {
  margin-right: 245px !important;
}

.u-ml245 {
  margin-left: 245px !important;
}

.u-mt250 {
  margin-top: 250px !important;
}

.u-mb250 {
  margin-bottom: 250px !important;
}

.u-mr250 {
  margin-right: 250px !important;
}

.u-ml250 {
  margin-left: 250px !important;
}

.u-mt255 {
  margin-top: 255px !important;
}

.u-mb255 {
  margin-bottom: 255px !important;
}

.u-mr255 {
  margin-right: 255px !important;
}

.u-ml255 {
  margin-left: 255px !important;
}

.u-mt260 {
  margin-top: 260px !important;
}

.u-mb260 {
  margin-bottom: 260px !important;
}

.u-mr260 {
  margin-right: 260px !important;
}

.u-ml260 {
  margin-left: 260px !important;
}

.u-mt265 {
  margin-top: 265px !important;
}

.u-mb265 {
  margin-bottom: 265px !important;
}

.u-mr265 {
  margin-right: 265px !important;
}

.u-ml265 {
  margin-left: 265px !important;
}

.u-mt270 {
  margin-top: 270px !important;
}

.u-mb270 {
  margin-bottom: 270px !important;
}

.u-mr270 {
  margin-right: 270px !important;
}

.u-ml270 {
  margin-left: 270px !important;
}

.u-mt275 {
  margin-top: 275px !important;
}

.u-mb275 {
  margin-bottom: 275px !important;
}

.u-mr275 {
  margin-right: 275px !important;
}

.u-ml275 {
  margin-left: 275px !important;
}

.u-mt280 {
  margin-top: 280px !important;
}

.u-mb280 {
  margin-bottom: 280px !important;
}

.u-mr280 {
  margin-right: 280px !important;
}

.u-ml280 {
  margin-left: 280px !important;
}

.u-mt285 {
  margin-top: 285px !important;
}

.u-mb285 {
  margin-bottom: 285px !important;
}

.u-mr285 {
  margin-right: 285px !important;
}

.u-ml285 {
  margin-left: 285px !important;
}

.u-mt290 {
  margin-top: 290px !important;
}

.u-mb290 {
  margin-bottom: 290px !important;
}

.u-mr290 {
  margin-right: 290px !important;
}

.u-ml290 {
  margin-left: 290px !important;
}

.u-mt295 {
  margin-top: 295px !important;
}

.u-mb295 {
  margin-bottom: 295px !important;
}

.u-mr295 {
  margin-right: 295px !important;
}

.u-ml295 {
  margin-left: 295px !important;
}

.u-mt300 {
  margin-top: 300px !important;
}

.u-mb300 {
  margin-bottom: 300px !important;
}

.u-mr300 {
  margin-right: 300px !important;
}

.u-ml300 {
  margin-left: 300px !important;
}
/* TOPへ戻るボタン */
#page-top {
  position: fixed;
  width: 50px;
  height: 50px;
  color: #000;
  background-color: #fff;
  bottom: 20px;
  right: 0;
  border-radius: 10px 0 0 10px;
  z-index: 10;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .2);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#page-top a {
  position: relative;
  display: block;
  width: 12px;
  height: 12px;
}

#page-top a::after,
#page-top a::before {
  content: "";
  background-color: #000;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 2px;
  height: 12px;
}

#page-top a::before {
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
  right: 0;
}

#page-top a::after {
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  left: 35%;
}

.contents {
  width: min(980px, 100%);
  margin: 0 auto;
  font-family: "noto-sans-cjk-jp", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  color: #2a2a2a;
}

.sec_wrap .slick-dots {
  position: relative;
  bottom: -18px;
}
.sec_wrap .slick-dotted.slick-slider {
  margin-bottom: 0;
}
.sec_wrap .slick-dots li {
  width: 8px;
  height: 8px;
  margin: 0 6px;
}
.sec_wrap .slick-dots li button {
  width: 100%;
  height: 100%;
}
.sec_wrap .slick-dots li button:before {
  font-size: 0;
  width: 100%;
  height: 100%;
  background-color: #c9caca;
  border-radius: 50%;
  opacity: unset;
}
.sec_wrap .slick-dots li.slick-active button:before {
  background-color: #595757;
}
.sec_wrap .slick-prev,
.sec_wrap .slick-next {
  width: 27px;
  height: 27px;
  z-index: 1;
  top: calc(50% - 16px);
  background: unset;
}
.sec_wrap .slick-next::before,
.sec_wrap .slick-prev::before {
  content: "";
  background: url(../../../static/full/images/cts1/special/2402_sc_staffsnap/icon_arrow.webp) no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
  display: block;
  background-size: 100%;
  opacity: 1;
}
.sec_wrap .slick-prev {
  left: 12px;
}
.sec_wrap .slick-prev::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.sec_wrap .slick-next {
  right: 12px;
}
@media screen and (max-width: 767px) {
  br.pc {
    display: none;
  }
  br.sp {
    display: block;
  }
  .u-spfs10 {
    font-size: 10px !important;
  }
  .u-spfs11 {
    font-size: 11px !important;
  }
  .u-spfs12 {
    font-size: 12px !important;
  }
  .u-spfs13 {
    font-size: 13px !important;
  }
  .u-spfs14 {
    font-size: 14px !important;
  }
  .u-spfs15 {
    font-size: 15px !important;
  }
  .u-spfs16 {
    font-size: 16px !important;
  }
  .u-spfs17 {
    font-size: 17px !important;
  }
  .u-spfs18 {
    font-size: 18px !important;
  }
  .u-spfs19 {
    font-size: 19px !important;
  }
  .u-spfs20 {
    font-size: 20px !important;
  }
  .u-spfs21 {
    font-size: 21px !important;
  }
  .u-spmt0 {
    margin-top: 0px !important;
  }
  .u-spmb0 {
    margin-bottom: 0px !important;
  }
  .u-mr0 {
    margin-right: 0px !important;
  }
  .u-ml0 {
    margin-left: 0px !important;
  }
  .u-spmt5 {
    margin-top: 5px !important;
  }
  .u-spmb5 {
    margin-bottom: 5px !important;
  }
  .u-mr5 {
    margin-right: 5px !important;
  }
  .u-ml5 {
    margin-left: 5px !important;
  }
  .u-spmt10 {
    margin-top: 10px !important;
  }
  .u-spmb10 {
    margin-bottom: 10px !important;
  }
  .u-mr10 {
    margin-right: 10px !important;
  }
  .u-ml10 {
    margin-left: 10px !important;
  }
  .u-spmt15 {
    margin-top: 15px !important;
  }
  .u-spmb15 {
    margin-bottom: 15px !important;
  }
  .u-mr15 {
    margin-right: 15px !important;
  }
  .u-ml15 {
    margin-left: 15px !important;
  }
  .u-spmt20 {
    margin-top: 20px !important;
  }
  .u-spmb20 {
    margin-bottom: 20px !important;
  }
  .u-mr20 {
    margin-right: 20px !important;
  }
  .u-ml20 {
    margin-left: 20px !important;
  }
  .u-spmt25 {
    margin-top: 25px !important;
  }
  .u-spmb25 {
    margin-bottom: 25px !important;
  }
  .u-mr25 {
    margin-right: 25px !important;
  }
  .u-ml25 {
    margin-left: 25px !important;
  }
  .u-spmt30 {
    margin-top: 30px !important;
  }
  .u-spmb30 {
    margin-bottom: 30px !important;
  }
  .u-mr30 {
    margin-right: 30px !important;
  }
  .u-ml30 {
    margin-left: 30px !important;
  }
  .u-spmt35 {
    margin-top: 35px !important;
  }
  .u-spmb35 {
    margin-bottom: 35px !important;
  }
  .u-mr35 {
    margin-right: 35px !important;
  }
  .u-ml35 {
    margin-left: 35px !important;
  }
  .u-spmt40 {
    margin-top: 40px !important;
  }
  .u-spmb40 {
    margin-bottom: 40px !important;
  }
  .u-mr40 {
    margin-right: 40px !important;
  }
  .u-ml40 {
    margin-left: 40px !important;
  }
  .u-spmt45 {
    margin-top: 45px !important;
  }
  .u-spmb45 {
    margin-bottom: 45px !important;
  }
  .u-mr45 {
    margin-right: 45px !important;
  }
  .u-ml45 {
    margin-left: 45px !important;
  }
  .u-spmt50 {
    margin-top: 50px !important;
  }
  .u-spmb50 {
    margin-bottom: 50px !important;
  }
  .u-mr50 {
    margin-right: 50px !important;
  }
  .u-ml50 {
    margin-left: 50px !important;
  }
  .u-spmt55 {
    margin-top: 55px !important;
  }
  .u-spmb55 {
    margin-bottom: 55px !important;
  }
  .u-mr55 {
    margin-right: 55px !important;
  }
  .u-ml55 {
    margin-left: 55px !important;
  }
  .u-spmt60 {
    margin-top: 60px !important;
  }
  .u-spmb60 {
    margin-bottom: 60px !important;
  }
  .u-mr60 {
    margin-right: 60px !important;
  }
  .u-ml60 {
    margin-left: 60px !important;
  }
  .u-spmt65 {
    margin-top: 65px !important;
  }
  .u-spmb65 {
    margin-bottom: 65px !important;
  }
  .u-mr65 {
    margin-right: 65px !important;
  }
  .u-ml65 {
    margin-left: 65px !important;
  }
  .u-spmt70 {
    margin-top: 70px !important;
  }
  .u-spmb70 {
    margin-bottom: 70px !important;
  }
  .u-mr70 {
    margin-right: 70px !important;
  }
  .u-ml70 {
    margin-left: 70px !important;
  }
  .u-spmt75 {
    margin-top: 75px !important;
  }
  .u-spmb75 {
    margin-bottom: 75px !important;
  }
  .u-mr75 {
    margin-right: 75px !important;
  }
  .u-ml75 {
    margin-left: 75px !important;
  }
  .u-spmt80 {
    margin-top: 80px !important;
  }
  .u-spmb80 {
    margin-bottom: 80px !important;
  }
  .u-mr80 {
    margin-right: 80px !important;
  }
  .u-ml80 {
    margin-left: 80px !important;
  }
  .u-spmt85 {
    margin-top: 85px !important;
  }
  .u-spmb85 {
    margin-bottom: 85px !important;
  }
  .u-mr85 {
    margin-right: 85px !important;
  }
  .u-ml85 {
    margin-left: 85px !important;
  }
  .u-spmt90 {
    margin-top: 90px !important;
  }
  .u-spmb90 {
    margin-bottom: 90px !important;
  }
  .u-mr90 {
    margin-right: 90px !important;
  }
  .u-ml90 {
    margin-left: 90px !important;
  }
  .u-spmt95 {
    margin-top: 95px !important;
  }
  .u-spmb95 {
    margin-bottom: 95px !important;
  }
  .u-mr95 {
    margin-right: 95px !important;
  }
  .u-ml95 {
    margin-left: 95px !important;
  }
  .u-spmt100 {
    margin-top: 100px !important;
  }
  .u-spmb100 {
    margin-bottom: 100px !important;
  }
  .u-mr100 {
    margin-right: 100px !important;
  }
  .u-ml100 {
    margin-left: 100px !important;
  }
  .u-spmt105 {
    margin-top: 105px !important;
  }
  .u-spmb105 {
    margin-bottom: 105px !important;
  }
  .u-mr105 {
    margin-right: 105px !important;
  }
  .u-ml105 {
    margin-left: 105px !important;
  }
  .u-spmt110 {
    margin-top: 110px !important;
  }
  .u-spmb110 {
    margin-bottom: 110px !important;
  }
  .u-mr110 {
    margin-right: 110px !important;
  }
  .u-ml110 {
    margin-left: 110px !important;
  }
  .u-spmt115 {
    margin-top: 115px !important;
  }
  .u-spmb115 {
    margin-bottom: 115px !important;
  }
  .u-mr115 {
    margin-right: 115px !important;
  }
  .u-ml115 {
    margin-left: 115px !important;
  }
  .u-spmt120 {
    margin-top: 120px !important;
  }
  .u-spmb120 {
    margin-bottom: 120px !important;
  }
  .u-mr120 {
    margin-right: 120px !important;
  }
  .u-ml120 {
    margin-left: 120px !important;
  }
  .u-spmt125 {
    margin-top: 125px !important;
  }
  .u-spmb125 {
    margin-bottom: 125px !important;
  }
  .u-mr125 {
    margin-right: 125px !important;
  }
  .u-ml125 {
    margin-left: 125px !important;
  }
  .u-spmt130 {
    margin-top: 130px !important;
  }
  .u-spmb130 {
    margin-bottom: 130px !important;
  }
  .u-mr130 {
    margin-right: 130px !important;
  }
  .u-ml130 {
    margin-left: 130px !important;
  }
  .u-spmt135 {
    margin-top: 135px !important;
  }
  .u-spmb135 {
    margin-bottom: 135px !important;
  }
  .u-mr135 {
    margin-right: 135px !important;
  }
  .u-ml135 {
    margin-left: 135px !important;
  }
  .u-spmt140 {
    margin-top: 140px !important;
  }
  .u-spmb140 {
    margin-bottom: 140px !important;
  }
  .u-mr140 {
    margin-right: 140px !important;
  }
  .u-ml140 {
    margin-left: 140px !important;
  }
  .u-spmt145 {
    margin-top: 145px !important;
  }
  .u-spmb145 {
    margin-bottom: 145px !important;
  }
  .u-mr145 {
    margin-right: 145px !important;
  }
  .u-ml145 {
    margin-left: 145px !important;
  }
  .u-spmt150 {
    margin-top: 150px !important;
  }
  .u-spmb150 {
    margin-bottom: 150px !important;
  }
  .u-mr150 {
    margin-right: 150px !important;
  }
  .u-ml150 {
    margin-left: 150px !important;
  }
  .sec_wrap .slick-dots {
    bottom: 0;
    margin-top: 20px;
  }
  .sec_wrap .slick-dotted.slick-slider {
    width: 100%;
    margin-bottom: 6vw;
  }
  .sec_wrap .slick-dots li {
    width: 1.6vw;
    height: 1.6vw;
    margin: 0 1.0666666667vw;
  }
  .sec_wrap .slick-dots li button {
    background-image: unset;
    background-size: unset;
  }
  .sec_wrap .slick-dots li.slick-active button:before {
    background-image: none;
    background-size: unset;
    background-position: unset;
  }
  .sec_wrap .slick-prev,
  .sec_wrap .slick-next {
    bottom: 0;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    width: 5.7333333333vw;
    height: 5.7333333333vw;
  }
  .sec_wrap .slick-prev {
    left: 4vw;
  }
  .sec_wrap .slick-next {
    right: 4vw;
  }
}